<!-- ------ -->
<!-- Header -->
<!-- ------ -->
<ion-header>
  <ion-toolbar>
    <ion-progress-bar *ngIf="submitting" type="indeterminate"></ion-progress-bar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">
        <ion-icon slot="start" name="close"></ion-icon>
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-title>Edit Expense</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)='save()' [disabled]='expenseForm.pristine || expenseForm.invalid || submitting'>
        <ion-icon slot="end" name="save"></ion-icon>
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- ------- -->
<!-- Content -->
<!-- ------- -->
<ion-content class="ion-padding" [formGroup]="expenseForm">
  <ion-item>
    <ion-icon name="text" slot="start"></ion-icon>
    <ion-input maxlength="40" placeholder="Wähle einen ExpenseName" required formControlName="name" [disabled]="submitting"></ion-input>
  </ion-item>
  <ion-item>
    <ion-icon name="pricetag-outline" slot="start"></ion-icon>
    <ion-input maxlength="40" required formControlName="name">
      <ion-select interface='popover'  placeholder='Wähle eine Kategorie' formControlName='categoryId'>
        <ion-select-option role='option' *ngFor='let category of categories' [value]='category.id'>
          {{category.name}}
        </ion-select-option>
      </ion-select>
      <ion-buttons (click)="showCategoryModal()">
         <ion-icon name="add-circle-outline" slot="end"></ion-icon>
      </ion-buttons>
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-icon slot='start' name='cash'></ion-icon>
    <ion-input type='number' inputmode='decimal' placeholder='Preis eingeben' step='0.01' formControlName='amount'></ion-input>
    <ion-note slot='end'>CHF</ion-note>
  </ion-item>
  <ion-item>
    <ion-icon slot='start' name='calendar'></ion-icon>
    <ion-datetime-button datetime='datetime'></ion-datetime-button>
    <ion-modal [keepContentsMounted]='true'>
      <ng-template>
        <ion-datetime presentation='date' id='datetime' formControlName='date'></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="delete()" color="danger">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
